/*!
  Theme: Default
  Description: Original highlight.js style
  Author: (c) Ivan Sagalaev <maniac@softwaremaniacs.org>
  Maintainer: @highlightjs/core-team
  Website: https://highlightjs.org/
  License: see project LICENSE
  Touched: 2021
*/pre code.hljs{display:block;overflow-x:auto;padding:1em}
code.hljs{padding:3px 5px}
.hljs{background:#f3f3f3;color:#444}
.hljs-comment{color:#767c7c;font-style: italic;}
.hljs-punctuation,.hljs-tag{color:#444a}
.hljs-tag .hljs-attr,.hljs-tag .hljs-name{color:#444}
.hljs-attribute,.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-name,.hljs-selector-tag{font-weight:700}
.hljs-deletion,.hljs-number,.hljs-quote,.hljs-selector-class,.hljs-selector-id,.hljs-string,.hljs-template-tag,.hljs-type{color:#800}
.hljs-section,.hljs-title{color:#800;font-weight:700}
.hljs-link,.hljs-operator,.hljs-regexp,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-symbol,.hljs-template-variable{color:#ab5656}
.hljs-literal{color:#695}
.hljs-addition,.hljs-built_in,.hljs-bullet,.hljs-code{color:#397300}
.hljs-meta{color:#1f7199}
.hljs-meta .hljs-string{color:#38a}
.hljs-emphasis{font-style:italic}
.hljs-strong{font-weight:700}

/* Opcode (colorato di rosso e in grassetto) */
.hljs-keyword.opcode {
  color: #ff5555; /* Rosso */
  font-weight: bold;
}

/* Variabili audio (iniziano con 'a') */
.hljs-variable.audio {
  color: #e31313; /* Rosso */
}

/* Variabili di controllo (iniziano con 'k') */
.hljs-variable.control {
  color: #1f9f3f; /* Verde */
}

/* Variabili di inizializzazione (iniziano con 'i') */
.hljs-variable.initialization {
  color: #008fbe; /* Azzurro */
}

/* Variabili globali di inizializzazione (iniziano con 'gi') */
.hljs-variable.globinitialization {
  color: #008fbe; /* Azzurro */
  font-style: italic;
}

/* Variabili globali di inizializzazione (iniziano con 'gi') */
.hljs-variable.string {
  color: #ee35b3;
}

/* Costanti (es. sr, kr, ksmps, nchnls, 0dbfs) */
.hljs-constant {
  color: #f3752c; /* Arancione */
  font-weight: bold; /* Grassetto */
}

